@import 'tailwindcss';

:root {
    --color-coral: #FF6B6B;
    --color-darkCoral: #FF4040;
    --color-mint: #B6F0C1;
    --color-tangerine: #FF8C42;
    --color-pastelPink: #FFADAD;
    --color-lilac: #B46bC4;
    --color-charcoal: #333333;
    --color-softWhite: #FDFCFB; 

    --font-sans: Raleway, sans-serif;
    --font-mono: Noto Sans Mono, monospace;
    --font-prime: Courier Prime, monospace;
    
}

@layer utilities {
  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-slide {
    animation: slide 25s linear infinite;
  }

  .animate-slide:hover {
  animation-play-state: paused;
  }
}


