@import 'tailwindcss';

@theme {
    --color-asphalt:   #030301;
    --color-graphite:   #222222;
    --color-gray-chateau: #99a1af;
    --color-off-white:  #F2F2F2;
    --color-chartreuse: #9AE600;
    --color-dark-neon: #00ff00;
    --color-lilac: #b496c6;
    --color-brilac: #f48ec5;
    --color-ctncndy: #feb2e3;
    --color-coral: #fd8444; 
    --color-brorange: #ff712c; 

    --font-rale: Raleway, sans-serif;
    --font-noto: Noto Sans Mono, monospace;
    --font-cour: Courier Prime, monospace;
    --font-inter: Inter, sans-serif;
    --font-pops: Poppins, sans-serif;
}

